/*Style by type.*/
body {
    font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
    background-image:url(Pics/pattern.jpg)
}
Html {
}

body, a {
    color: grey;
    font-size: 1.1em;
}

    body, a:hover {
        color: black;
        font-size: 1.1em;
    }

body {
    text-align: center;
}

table {
    margin: auto;
    text-align: left;
}

.ContentList {
    max-width: 850px;
    margin-left: 5px;
    border: 3px solid;
    border-radius: 5px 5px 5px 5px;
    margin: auto;
    background-color:#eee;
}

h1, h2, h3, h4 {
    text-align: center;
}

.Thumbs {
    overflow-x: auto;
}
.Message {
    background-color:lightgreen;
}


/*Style to Imagelist.aspx*/
.ThumbList {
    overflow-x: auto;
}

.ThumbList, img {
    overflow-x: auto;
      border-radius: 5px 5px 5px 5px;
      margin:5px;
}

.ThumbList img:hover {
     	box-shadow: 0 10px 6px rgba(0,0,0,.8);
    
}


#ContentPlaceHolder_CheckBoxLisT {
    float: left;
    margin-bottom: 10px;
    border-radius: initial;
    border: initial;
    box-shadow: none;
}


.checkboxArea {
   margin-left: 20%;
   text-align:center;
}

.EditCategories {
    margin-bottom: 20px;
    margin-top: 20px;
}

table, input {
}

/* Style Categories.ascx NAV.*/
.Categories {
    margin-bottom: 20px;
    overflow-x: auto;
    text-align: center;
}

.Categories, a {
    margin-left: 20px;
}
/*Style for Image*/
#ContentPlaceHolder_CategoryFormView_ReturnThumbnails {
    float: right;
}

#Image {
}

.ImageCat {
    margin: auto;
}

.clear {
    clear: both;
}
