body {
      
}
.ContentList {
    max-width: 850px;
    border: 3px solid;
    border-radius: 5px 5px 5px 5px;
    margin:auto;

}
h1, h2, h3, h4 {
    text-align:center;
}
.Thumbs {
    overflow-x:auto
}
